<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879890589009-o14u71sjfcr9j7f5ik35brq2bv50p0qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879890589009-o14u71sjfcr9j7f5ik35brq2bv50p0qp</string>
	<key>API_KEY</key>
	<string>AIzaSyDl8gKXaO1hKinoKRrZqOLqzc1UH1IZcnc</string>
	<key>GCM_SENDER_ID</key>
	<string>879890589009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-dbs10</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-dbs10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879890589009:ios:bd5e11c60fd3b37c1f5f70</string>
</dict>
</plist>